:root {
    --p-color: #6e7070;
    --h4-color:#0f1111;
    --amazon-color:#FCAF17;

}

.product {
    position: relative;
}

.category__page {
    display: grid;
    grid-template-columns: 15% 80%;
    justify-content: space-between;
    position: relative;
    min-height: 90vh;
    @media (max-width:850px) {
        display: block;
    }
}

.category__page__left {
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;
padding: 1em;

@media (max-width:850px){
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.9);
    z-index: 30;
    max-width: 50%;
    transition: 250ms ease;
    transform: translateX(-110%);
}

h4 {
   font-size: 16px;
   text-shadow: 1px 1.5px 2px rgba($color: #000000, $alpha: 0.1); 
   margin-bottom: 1em;
   color: var(--h4-color);

   @media (max-width:850px) {
    color: #fff;
}
}


form {
    margin: 1.8em 0;

    input {
        margin-left: 10px;


    }

    .label__sort {
        font-size: 14px;

    }
}

}



.category__page__right {

    padding: 0.8em;
    
}

.category__page__top {
    text-align: left;
    padding: 1em 0;
    text-transform: capitalize;
    
    h2 {
        font-weight: 500;
    }
}

.filters__category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    input {
        margin-right: 8px;
    }
    label {
        font-size: 15px;
        color: var(--p-color);
    }
}


.input__range__div {
    position: relative; 
    display: flex;
    flex-direction: column;

    p {
        margin: 0.5em 0;
        font-size: 15px;
        color: var(--p-color);
        margin-left: 10px;

        span {
            margin-left: 5px;
            
        }
    }

    input {
        background: transparent;
       
        
        &::-webkit-slider-thumb{
            border-radius: 50%;
            -webkit-appearance: none;
            background: var(--amazon-color);
            
            
        }
    }
}




.category__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em ,1fr));
    width: 100%;
    grid-gap: 3rem;
}

.product_cat {
display: flex;
flex-direction: column;
    position: relative;
    justify-content: space-between;
    border: 1px solid rgba($color: gray, $alpha: 0.3);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 250ms ease;
    align-items: flex-end;
    padding: 0.5em 0;


    &:hover {
        transform: scale(1.1);
    }
}


.category__product {
        cursor: pointer;
      
        text-decoration: none;
        width: 100%;


    .image__place {
        width: 100%;
        height: 100%;
        max-height: 160px;
        padding: 0 1em;

        img {
            width: 100%;
            height: 100%;
        }
    }

}

.product__desc {
    padding: 0.5em 0.8em 0 0.8em;
    text-align: left;
    h3 {
        color: #262626;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .price {
        color: #057387;
    }
}

.best-seller {
    position: absolute;
    top: -4px;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--amazon-color);
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
    padding: 0.2em 0.4em;
    font-size: 13px;
    color: #fff;
    z-index: 3;
 
}

.rating {
    color: var(--amazon-color);
    display: flex;
    justify-content: flex-start;
    padding: 0.4em 0;

    svg {
        font-size: 14px;
        margin-right: 2px;
    }


}



.add-to-cart-btn {
    border: 0;
    outline: 0;
}


.bookmark__btn {
    margin: 0.5em 0;
    margin-right: 0.8em;
    cursor: pointer;
    transition: 250ms ease;
    position: relative;

    &:hover {
        opacity: 0.8;
        svg {
            transform: translateY(-25%);
        }
    }
    svg {
        font-size: 20px;
        transition: 250ms ease;
        color: #057387;
    }
}

.showLeft {
    transform: translateX(0%) !important;
}