body {
    background: #eaeded;
}

.btn {
border: 0;
outline: 0;
background: transparent;
}

.checkout__page {
    padding: 2em 0;
    display: grid;
    grid-template-columns: 75% 23%;
    justify-content: space-between;

    @media (max-width:970px){
        display: block;
    }
}

.white {
    background: #fff;
    padding: 0.8em;
    border-radius: 6px;
}

.shoping__cart {
    display: flex;
    flex-direction: column;

    .shoping__cart__top {
        text-align: left;
        padding: 1em 0;
        .title__shop__cart {
            font-size: 23px;
            font-weight: 500;
        }
    }
}


.list__of__inCart__products {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 30em;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}


.product__in__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dddddd;
    border-bottom : 1px solid #dddddd;
    padding: 0.8em 0;

    @media (max-width:800px){
        flex-direction: column;
        justify-content: center;
    }
}


.in__cart__photo {
    flex-basis: 20%;
    @media (max-width:800px){
        margin-bottom: 1em;
    }
    img {
        width: 100%;
        height: 100%;
    }
}



.in__cart__desctiption {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    flex-basis: 80%;

    @media (max-width:800px){
        flex-direction: column;
        justify-content: center;
    }
}


.in__cart__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.in__cart__title {
    font-weight: 500;
    text-align: left;
    max-width: 80%;
    font-size: 17px;

    @media (max-width:800px){
        font-size: 14px;
    }

    span {
        font-weight: 400;
    }
}


.in__cart__features {
    display: flex;
    align-items: center;


    input {
        text-align: center;
        font-family: 'Poppins';
        text-align: center;
        font-weight: 500;
        border: 0;
        outline: 0;
        background: transparent;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 0.5em 0;
        margin-right: 22px;
    }
}


.chng_qty {
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
}


.remove__from__cart__btn {
    color: #29c2d6;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 500;
    transition: 250ms ease;


    &:hover {
        text-decoration: underline;
    }
}



.in__cart__right {
    flex-basis: 20%;
    text-align: right;

    
    p {
        font-weight: 500;
        font-size: 20px;

        @media (max-width:800px){
            font-size: 17px;
        }
    }
}



.pagination__in__cart {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

    a {
        cursor: pointer;
        font-weight: 500;
    }
}

.perviousBtnCart, .nextBtnCart {
    font-weight: 500;
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
        opacity: 0.8;
    }
}

.paginationDisabled {
    opacity: 0;
}

.paginationActive {
    color: var(--amazon-color);
    font-weight: 500;
    font-size: 23px;
}


.paginationCurPage {
    font-weight: bold;
}


.subtotal {
    font-weight: 500;
    span {
        font-weight: 700;
        font-size: 18px;
        color: rgb(65, 63, 63);
    }
}



.proceed_to_checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1em 0.8em;
    border-radius: 4px;
    margin-bottom: 2em;
    margin-left: auto;

    @media (max-width:970px){
        margin-top: 2em;
    }
}

.proceed_btn {
    background: var(--amazon-color);
    font-family: 'Poppins', sans-serif;
    padding: 0.6em 1.2em;
    border-radius: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 2em;

    &:hover {
        animation: bounce 0.23s ease;
        color: #fff;
    }
}


@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15%); 
    }
}


.random__products__checkout {
    background: #fff;
    padding: 1em;
    border-radius: 12px;

    h3 {
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 1.5em;

    }
    .product__random {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        transition: 250ms ease;

        &:hover {
            transform: translateX(-2%);
            opacity: 0.9;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    
        img {width: 100%;max-width: 70px;margin-right: 12px;max-height: 70px;}
    
        .info {
            text-align: left;
            p {
                &:first-of-type {
                    font-size: 15px;
                    color: #127b8d;
                }
    
                &:last-of-type {
                    color: #bc482a;
                }

                @media (max-width:600px){
                    font-size: 14px;
                }
            }
        }
    
    }
}


.empty__cart__div {
    margin-bottom: 2em;
   
    h2 {
        font-weight: 500;
        font-size: 22px;

        @media (max-width:800px){
           font-size: 18px;
        }
    }
}